//text
$primaryFontColor: #fff;
$cardFontColor: #000;
$InfoFontColor: #ffc107;;
$greyText: #acacac;


$backgroundColorPrimary: #000;
$shadowDefault: #000;
$tableColor: #80808057;
$neonFirstColor: blueviolet;
$neonSecoundColor:  #00ff08;

