.rent-form {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  .badge {
    display: none;
  }

  h1 {
    margin: 10px 0;
    display: flex;
    justify-content: center;
  }
}

.input-box {
  margin-bottom: 25px;
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-rent {
  font-size: smaller;
  color: #ff0059;
  padding: 0;
  margin: 5px 0;
  display: flex;
  justify-content: center;

  i {
    margin-right: 5px;
  }
}

.form-rent-btn {
  width: 100%;
  margin-top: 25px;
}

.input-container {
  display: flex;
  flex-wrap: wrap;

  input {
    width: 13rem;
  }
}

.form-box {
  max-width: 38rem;
}

@media screen and (max-width: 830px) {
  .rent-form {
    border-top: 1px solid grey;
    width: 100%;
    display: block;

    .badge {
      display: inline;
    }
  }

  .input-box {
    width: 100%;
    display: block;
  }

  .input-container {
    display: block;
    padding: 0;

    input {
      width: 100%;
    }
  }

  .form-box {
    max-width: 100%;
    margin: 0;
  }
}

@keyframes shake-vertical {
  0%,
  100% {
    transform: translateY(0);
  }

  10%,
  30%,
  50%,
  70% {
    transform: translateY(-8px);
  }

  20%,
  40%,
  60% {
    transform: translateY(8px);
  }

  80% {
    transform: translateY(6.4px);
  }

  90% {
    transform: translateY(-6.4px);
  }
}
