@import '../../../variables/colorVariables.scss';

.loading-box {
  height: 93vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  div {
    height: 7rem;
    width: 7rem;
  }

  span {
    color: $primaryFontColor;
  }
}
