@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.game-container {
  margin: 30px 0;
  min-height: 93vh;
}

.loading-box {
  height: 93vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-box {
  margin: 30px 0;
  display: flex;
  justify-content: center;
}

.cart-game {
  width: 20rem;
  padding: 0;
  margin: 20px;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.img-game {
  width: 100%;
  height: 300px;
  cursor: pointer;
}

.not-dounf-div {
  display: flex;
  justify-content: center;
}

.p-not-found {
  text-align: center;
  color: white;
  width: 250px;
  display: inline-block;
  justify-content: center;
  margin-top: 50px;
  animation: pulsate-bck 3s ease-in-out infinite both;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@keyframes pulsate-bck {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}
