@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.game-container {
  margin: 30px 0;
} 

.loading-box {
  height: 93vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-box {
  margin: 30px 0;
  display: flex;
  justify-content: center;
}

.cart-game {
  width: 20rem;
  padding: 0;
  margin: 10px;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.img-game {
  width: 100%;
  height: 300px;
  cursor: pointer;
}
