@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=VT323&display=swap');
@import '../../variables/colorVariables.scss';

.home-container {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
  padding: 0;

  section {
    font-size: 2rem;
    color: $primaryFontColor;
    background-color: $backgroundColorPrimary;
    padding: 40px;
    font-family: 'VT323', monospace;
    box-shadow: 0 0 82px 103px $shadowDefault;

    ul {
      span {
        color: $InfoFontColor;
      }
    }
  }

  header {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;

    div {
      display: flex;
      flex-direction: column;
      padding: 40px;
      color: $primaryFontColor;
      width: 35rem;

      p {
        font-size: 2rem;
        font-family: 'VT323', monospace;
      }

      :nth-child(3) {
        color: $InfoFontColor;
        text-shadow: 0 0 5px $shadowDefault;
        cursor: pointer;
      }

      h1 {
        font-size: 7rem;
        color: $primaryFontColor;
        text-shadow: 0 0 5px $shadowDefault;
        font-family: 'Bebas Neue', cursive;
      }
    }
  }
}

.modal-dialog {
  color: black;
}

.home-container::-webkit-scrollbar {
  display: none;
}

.introduce-bg {
  transform: translateZ(-10px) scale(2);
}

.introduce-fg {
  transform: translateZ(-5px) scale(1.5);
}

.introduce-bg,
.introduce-fg {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.home-carousel {
  padding: 0;

  h3 {
    font-family: 'Bebas Neue', cursive;
  }
}

.carousel-inner {
  img {
    width: 100%;
    height: 93vh;
    display: flex;
    object-fit: cover;
  }
}

@media (max-width: 830px) {
  .home-container {
    ul {
      font-size: 16px;
      padding: 0;
    }

    header {
      div {
        h1 {
          font-size: 3rem;
        }
      }
    }
  }
}
