@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Major+Mono+Display&family=Permanent+Marker&family=Source+Sans+Pro:wght@200&display=swap");

.rent-container {
  min-height: 97vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 6rem;
}

.rent-cart {
  width: 65rem;
  height: 40rem;
  padding: 35px;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  background-color: black;
}

.neon {
  width: 65rem;
  height: 40rem;
  background-color: blueviolet;
  position: absolute;
  filter: blur(100px);
  z-index: -1;
  animation: flicker-3 10s linear infinite both;
}

.neon-green {
  width: 65rem;
  height: 40rem;
  background-color: rgb(0, 255, 8);
  position: absolute;
  filter: blur(100px);
  z-index: -1;
  animation: flicker-3 10s linear infinite both;
}

.box-rent-cart {
  display: flex;
  height: 100%;
}

.front-side {
  padding: 0;
  color: white;
  height: 100%;

  h4 {
    font-family: "Bebas Neue", cursive;
  }

  img {
    width: 100%;
    margin-bottom: 10px;
  }

  h1 {
    font-family: "Bebas Neue", cursive;
    margin-bottom: 10px;
  }

  .badge {
    margin-bottom: 10px;
  }

  .icon-box {
    margin-bottom: 0;

    i {
      color: grey;
      font-size: 50px;
      margin-right: 20px;
    }
  }

  button {
    font-family: "Bebas Neue", cursive;
    letter-spacing: 7px;
  }
}

.front-side-hide {
  display: none;
}

.back-side {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;

  tr {
    border: #80808057;
  }

  h1 {
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: "Bebas Neue", cursive;
  }

  .confirmation-img-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 20px 0;
    border: solid 1px rgba(128, 128, 128, 0.523);
    width: 100%;

    img {
      width: 15%;
    }

    h4 {
      margin-left: 20px;
      font-family: "Bebas Neue", cursive;
    }
  }

  .table {
    color: #8f8f8f;
  }

  .badge {
    margin-bottom: 20px;
  }

  .confirmation-btn-box {
    display: flex;
    justify-content: space-between;
    width: 100%;

    button {
      width: 48%;
      font-family: "Bebas Neue", cursive;
      letter-spacing: 7px;
    }
  }
}

.back-side-hide {
  display: none;
}

.tittle-content {
  height: 100%;
  margin-right: 30px;
  display: flex;
  justify-items: start;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.total-boom {
  animation: shake-vertical 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

.complete-side-hide {
  display: none;
}

.complete-side {
  color: white;
  font-family: "Bebas Neue", cursive;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.giphy-embed {
  width: 23rem;
  height: 22rem;
}

.counter {
  margin: 0 4px;
  color: lime;
}

@media screen and (max-width: 1100px) {
  .rent-cart {
    width: 100%;
  }

  .neon {
    width: 100%;
  }

  .neon-green {
    width: 100%;
  }
}

@media screen and (max-width: 830px) {
  .rent-container {
    padding-top: 0;
  }

  .neon {
    display: none;
  }

  .neon-green {
    display: none;
  }

  .rent-cart {
    padding: 35px;
    width: auto;
    box-shadow: none;
    height: 100%;
  }

  .box-rent-cart {
    display: block;
    height: auto;
  }

  .front-side {
    padding: 0;
    color: white;

    img {
      width: 100%;
      margin-bottom: 10px;
    }

    h1 {
      margin: 30px 0 20px;
    }

    .icon-box {
      margin-bottom: 10px;
    }
  }

  .front-side-hide {
    display: none;
  }

  .back-side {
    h1 {
      display: flex;
      justify-content: center;
    }

    .confirmation-img-box {
      justify-content: space-between;
      border: none;

      img {
        width: 45%;
      }
    }

    .confirmation-btn-box {
      display: flex;
      justify-content: space-between;
    }
  }

  .back-side-hide {
    display: none;
  }

  .tittle-content {
    display: block;
    margin: 0;
  }

  .total {
    display: none;
  }

  .giphy-embed {
    width: 12rem;
    height: 13rem;
  }
}

@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes flicker-3 {
  0%,
  100% {
    opacity: 1;
  }
  32.98% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  34% {
    opacity: 0;
  }
  34.02% {
    opacity: 1;
  }
  34.98% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  35.9% {
    opacity: 0;
  }
  35.92% {
    opacity: 1;
  }
  38.98% {
    opacity: 1;
  }
  39% {
    opacity: 0;
  }
  39.8% {
    opacity: 0;
  }
  39.82% {
    opacity: 1;
  }
  83.98% {
    opacity: 1;
  }
  84% {
    opacity: 0;
  }
  84.9% {
    opacity: 0;
  }
  84.92% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
