.account-container {
  min-height: 93vh;
  padding-top: 6rem;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.account-box {
  width: 65rem;
  padding: 0;
  height: 40rem;
}

.input-box-register {
  padding: 0;
  width: 50%;
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  form {
    height: 80%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  div {
    margin-bottom: 25px;
  }

  button {
    font-family: "Bebas Neue", cursive;
    letter-spacing: 7px;
    min-height: fit-content;
  }
}

.advertisement-box-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: black;
  padding: 0;
  width: 50%;
  background-image: url("../../../public//image/register/register.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  height: 100%;

  h1 {
    font-family: "Bebas Neue", cursive;
  }

  .mobile-info {
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  .account-box {
    width: 100%;
  }
}

@media screen and (max-width: 830px) {
  .account-container {
    height: auto;
    padding: 35px;
  }

  .account-box {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;

    .nav-link {
      margin-top: 25px;
    }
  }

  .input-box-register {
    width: 100%;
    min-height: fit-content;

    form {
      width: 100%;
      margin-top: 35px;

      div {
        margin-bottom: 25px;
      }
    }
  }

  .advertisement-box-register {
    width: 100%;
    min-height: 92vh;

    .mobile-info {
      display: block;
    }
  }
}
