.dashboard-container {
  min-height: 93vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dasboard-cart {
  height: 24rem;
  background: linear-gradient(-45deg, #bf953f, #fcf6ba, #b38728, #fbf5b7, #aa771c);
  background-size: 600% 400%;
  color: black;
  animation: gradient 16s ease infinite;
  width: 18rem;
  border-radius: 30px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px, rgba(0, 0, 0, 0.3) 0 7px 13px -3px, rgba(0, 0, 0, 0.2) 0 -3px 0 inset;

  div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;

    button {
      width: 100%;
    }

    h1 {
      font-family: "Bebas Neue", cursive;
    }

    h2 {
      font-size: 24px;
      font-family: "Bebas Neue", cursive;
    }

    i {
      font-size: 85px;
    }
  }
}

.neon-gold {
  min-height: 24rem;
  width: 18rem;
  background: linear-gradient(-45deg, rgb(240, 255, 80), #ffe100, #ffcc00d2, #ffd900);
  position: absolute;
  filter: blur(100px);
  z-index: -1;
  background-size: 400% 400%;
  animation: gradient-neon 6s ease infinite;
}

@keyframes gradient-neon {
  0% {
    background-position: 0% 50%;
    min-height: 24rem;
    width: 18rem;
  }

  50% {
    background-position: 100% 50%;
    width: 23rem;
    min-height: 29rem;
  }

  100% {
    background-position: 0% 50%;
    width: 18rem;
    min-height: 24rem;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
