@import '../../variables/colorVariables.scss/';

.login-container {
  min-height: 93vh;
  padding-top: 6rem;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.advertisement-box-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  padding: 0;
  width: 50%;
  background-image: url('../../../public//image/login/login.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  height: 100%;

  div {
    padding: 10%;
    width: 100%;
  }

  h1 {
    font-family: 'Bebas Neue', cursive;
  }

  span {
    display: none;
  }
}

.form-box-login {
  padding: 0;
  width: 50%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  form {
    height: 80%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    div {
      margin-bottom: 25px;
    }
  }

  button {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 7px;
    min-height: fit-content;
  }
}

.neon-yellow {
  width: 65rem;
  height: 40rem;
  background-color: $InfoFontColor;
  position: absolute;
  filter: blur(100px);
  z-index: -1;
  animation: flicker-3 10s linear infinite both;
}

@media screen and (max-width: 830px) {
  .login-container {
    height: auto;
    padding: 35px;
  }

  .advertisement-box-login {
    width: 100%;
    min-height: 92vh;

    span {
      display: block;
      cursor: pointer;
    }
  }

  .neon-yellow {
    display: none;
  }

  .form-box-login {
    width: 100%;
    min-height: 30vh;

    form {
      width: 100%;
      margin-top: 35px;

      div {
        margin-bottom: 25px;
      }
    }
  }
}
