@import '~bootstrap-icons/font/bootstrap-icons';
@import './variables/colorVariables.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $backgroundColorPrimary;
  overflow-x: hidden;
  height: 100%;
  color: $primaryFontColor;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.neon {
  width: 65rem;
  height: 40rem;
  background-color: $neonFirstColor;
  position: absolute;
  filter: blur(100px);
  z-index: -1;
  animation: flicker-3 10s linear infinite both;
}

.neon-green {
  width: 65rem;
  height: 40rem;
  background-color: $neonSecoundColor;
  position: absolute;
  filter: blur(100px);
  z-index: -1;
  animation: flicker-3 10s linear infinite both;
}
